<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FileNamager"/>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint name="FileManaget" 
                address="http://localhost:8080/FileManager"
                binding="basicHttpBinding" 
                bindingConfiguration="FileNamager" 
                contract="RemoteFileManager.Interfaces.Services.IFileManagerService"/>
    </client>
  </system.serviceModel>
</configuration>