<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="RemoteFileManager.Service.FileManagerService">
        <endpoint name="FileManager" address="" binding="basicHttpBinding" contract="RemoteFileManager.Interfaces.Services.IFileManagerService"/>
        <endpoint name="FileManagerMex" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/FileManager"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
